

RewriteEngine on

RewriteBase /poi-client

RewriteRule ^buildings$  buildings-oulu  [R]


RewriteCond %{REQUEST_FILENAME}.html  -f
RewriteRule ^([a-z0-9\-_]+)$  $1.html  [NC,QSA]


# default is the map
RewriteRule ^$  map  [R]
