<?php

	$config = array(
		'host' => $_SERVER['HTTP_HOST'],
		'basepath' => '/poi-client',
		
		'api' => array(
			'poi' => 'http://130.206.80.175/api/poi/bbox_search', // 'dummy/sample-data.php',
			'img_tiles' => 'http://' . $_SERVER['HTTP_HOST'] . '/api/tiles/filab/${z}/${x}/${y}.png',
			'ground_tiles' => 'http://130.206.83.248/api/3d-map-tiles/osm'
		)

	);

?>