
html, body, #myxml3d {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

div#logo {
    position: absolute;
	top: 0px;
	display: block;
	width: 245px;
	height: 106px;
	margin: 0;
	padding: 0;
	z-index: 2;
}

